<div class="container-fluid">
    <div class="row justify-content-between footer p-md-5 pb-md-0 p-4">
        <div class="col-12 col-sm-3 ps-4 mb-5 text-md-start text-center">
            <img src="../../assets/images/logo-conneqt-primary.png" alt="" class="d-inline-block align-text-top mb-5">
            <p class="fs-4 text-start">Duis autem vel eum iriure dolor in
                hendrerit in vulputate velit esse
                molestie consequat, vel illum
                dolore eu feugiat nulla facilisis.</p>
        </div>

        <div class="col-12 col-md-2 text-center mb-5 d-flex flex-column">
            <dt class="col-md-10 mb-3 align-self-center text-start">
                <p class="fs-4 mb-4">Important Links</p>
            </dt>

            <dt class="col-md-10 mb-3 align-self-center text-start">
                <a href="#" class="fs-5">About Us</a>
            </dt>

            <dt class="col-md-10 mb-3 align-self-center text-start">
                <a href="#" class="fs-5">Support</a>
            </dt>

            <dt class="col-md-10 mb-3 align-self-center text-start">
                <a href="#" class="fs-5">Contact Us</a>
            </dt>

            <dt class="col-md-10 mb-3 align-self-center text-start">
                <a href="#" class="fs-5">Our Products</a>
            </dt>

            <dt class="col-md-10 mb-3 align-self-center text-start">
                <a href="#" class="fs-5">Payment Methods</a>
            </dt>
        </div>

        <div class="col-12 col-sm-2 me-md-5 text-center mb-5 d-flex flex-column">
            <dt class="col-md-10 mb-3 align-self-center text-start">
                <h5 class="mb-4 fs-4">Useful Links </h5>
            </dt>

            <dt class="col-md-10 mb-3 align-self-center text-start">
                <a href="#" class="fs-5">Cases</a>
            </dt>
            <dt class="col-md-10 mb-3 align-self-center text-start">
                <a href="#" class="fs-5">White Papers</a>
            </dt>
            <dt class="col-md-10 mb-3 align-self-center text-start">
                <a href="#" class="fs-5">FAQ</a>
            </dt>
            <dt class="col-md-10 mb-3 align-self-center text-start">
                <a href="#" class="fs-5">Blog</a>
            </dt>
        </div>

        <div class="col-12 col-sm-2 ms-md-5 text-center mb-5 d-flex flex-column mb-1">
            <dt class="col-md-12 mb-3 align-self-center text-start">
                <h5 class="mb-4 fs-4">Get in Touch</h5>
            </dt>

            <dt class="col-md-12 mb-3 align-self-center text-start">
                <a href="#" class="fs-5">Email: contact@conneqt.com</a>
            </dt>
            <dt class="col-md-12 mb-5 align-self-center text-start">
                <a href="#" class="fs-5">Phone: 469-844-8261</a>
            </dt>
        </div>
    </div>
</div>