<div class="container-fluid pt-5 pb-5">
    <div class="d-flex flex-row justify-content-md-center p-3 pb-5">
        <div class="col-md-7 pb-5">
            <p class="fs-1 d-md-none d-block text-center pb-3">Thank you for Signing Up!</p>
            <h1 class="display-2 d-none d-md-block text-center pb-5">Thank you for Signing Up!</h1>

            <p class="fs-4 d-md-none d-block text-center">Get started and experience Conneqt today.</p>
            <p class="fs-1 d-none d-md-block text-center pb-5">Get started and experience Conneqt today.</p>

            <p class="fs-5 text-center pt-3">A confirmation email with your credentials was sent to your email
                address.
            </p>
            <div class="d-flex flex-row pt-3 justify-content-md-center justify-content-center">
                <button routerLink="/thanks-for-signing-up" type="submit" class="btn btn-primary align-self-center">Get
                    started with Conneqt</button>
            </div>
        </div>
    </div>
</div>