.home>.row:nth-child(odd) {
    background-color: var(--conneqt-light-background-color);
}

p>span {
    color: var(--conneqt-primary-color);
}

div[class*="col-md-"] svg {
    width : 1.75rem;
    height: 1.75rem;
    fill  : var(--conneqt-primary-color);
}

app-list-item {
    width: 100%;
}

app-list-item-mobile {
    width: inherit;
}